/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.4);
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.flex {
    display: flex;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main {
  width: 100%;
  height: calc(100% - 90px);
  background-color: #141922;
   overflow: hidden;
}
.sidebar {
  float: left;
  width: 230px;
  height: 100%;
  min-height: 480px;
  background-color: black;
}


.sidebar-top {
  width: 100%;
  height: calc(100% - 80px);
}

.sidebar-bottom {
  width: 100%;
  height: 80px;
}
.main-content {
  float: left;
  width: calc(100% - 230px);
  height: 100%;
  padding-top: calc(90px + 2em);
  padding-bottom: 2em;
  overflow: auto;
}
.upgrade {
  display: flex;  
  justify-content: flex-end;
  align-items: center;
  padding-right: 2em;
  position: fixed;
  top: 0;
  right: 0;
  width: calc( 100% - 230px);
  height: 90px;
  background-color: rgba(0, 0, 0, 0.4);
}

.upgrade-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0.5em 3em;
}

.upgrade-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* sidebar */
ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}

img {
    width: 100%;
}

svg {
    width: 10%;
}

.container-logo {
    width: 70%;
    padding-top: 1em;
    padding-left: 1em;
}

ul {
  line-height: 30px;
}
.home {
  margin-top: 1em;
  margin-left: 0.5em;
}

.home li {
  padding-bottom: 1em;
}

.sidebar-top ul li a svg{
    width: 12%;
    vertical-align: top;
  }

.sidebar-top ul li:hover a {
  color: white;
}


.sidebar-top ul li:hover svg {
  filter: invert(1) brightness(100);
}


.playlist {
  width: 100%;
  margin-top: 1em;
  margin-left: 0.5em; 
}

.playlist a {
  width: 10%;
  vertical-align: middle;
}

.download-app {
  margin-top: 1em;
  margin-left: 0.5em;
}
hr {
    margin: 0.5em 0;
    width: 80%;
    color:rgba(255, 255, 255, 0.4);
}

.circle {
   width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color:#a3a3a3 ;
}

.user h3 {
  color: white;
  margin-left: 0.8em;
}

.navbar-main-menu {
  justify-content: center;
}

.navbar-main-menu li {
  padding: 0 1em;
}


footer {
  width: 100%;
  height: 90px;
  background-color: #282828;
}

.font-size-3{
  font-size: 3em;
}

.font-size-2 {
  font-size: 2em;
}
.font-size-08 {
  font-size: 0.8em;
}

.font-size-06 {
  font-size: 0.6em;
}
