* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}


header {
    width: 20%;
    background-color: red;
    height: 100vh;
}

main {
    width: 80%;
    background-color: blue;
    height: 100vh;
}

.img {
    width: 100%;
}

.container-logo {
    width: 50%;
    padding-top: 1em;
    padding-left: 1em;
}

.upgrade {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,0.5);
    justify-content: flex-end;
    
}