* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.flex {
    display: flex;
}


.container {
    height: calc(100vh - 70px);
}

header {
    width: 10%;
    background-color: black;
    /* height: 100vh; */
}

main {
    width: 90%;
    background-color: #141922;
    /* height: 100vh; */
}

.img {
    width: 100%;
}

.container-logo {
    width: 90%;
    padding-top: 1em;
    padding-left: 1em;
}

.upgrade {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 70px;
    background-color: rgba(0,0,0,0.5);
    justify-content: flex-end;
    align-items: center;
    padding-right: 2em;
}

.upgrade-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0.5em 2em;
}

.now-playing {
    width: 100%;
    height: 70px;
    background-color: #282828;
}