/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

/* margin e padding */
.mrg-l-03 {
    margin-left: 0.3em;
}

.mrg-btm-03 {
    margin-bottom: 0.3em;
}

.mrg-btm-07 {
    margin-bottom: 0.7em;
}

.mrg-top-1 {
    margin-top: 1em;
}

.mrg-top-auto {
    margin-top: auto;
}

/* font size */
.font-size-08 {
    font-size: 0.8em;
}

.font-bold {
    font-weight: bold;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #d2d2d2;
}

.container {
    height: calc(100vh - 70px);
}

header {
    width: 10%;
    background-color: black;
}

main {
    width: 90%;
    background-color: #141922;
}

.img {
    width: 100%;
}

svg {
    width: 15%;
}

.container-logo {
    width: 90%;
    padding-top: 1em;
    padding-left: 1em;
}

.navbar-header {
    margin-top: 1em;
    margin-left: 1em;
}

.navbar-header ul li:hover a {
    color:white;
}

.navbar-header ul li:hover svg {
    filter: invert(1) brightness(100);
}

.upgrade {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    width: 90%;
    height: 70px;
    background-color: rgba(0,0,0,0.5);
    justify-content: flex-end;
    align-items: center;
    padding-right: 2em;
}

.upgrade-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0.5em 3em;
}

.upgrade-btn:hover {
    padding: 1em 4em;
    cursor: pointer;
}


.now-playing {
    width: 100%;
    height: 70px;
    background-color: #282828;
}