* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
}

header {
    width: 20%;
    background-color: red;
    height: 100vh;
}

main {
    width: 80%;
    background-color: blue;
    height: 100vh;
}