/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.4);
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float {
  float: left;
}

.flex {
    display: flex;
}

.space-btw {
  justify-content: space-between;
}


.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-space-btw {
  align-content: space-between;
}

.overflow {
  overflow: auto;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main {
  width: 100%;
  height: calc(100% - 90px);
  background-color: #141922;
   overflow: hidden;
}
.sidebar {
  width: 230px;
  height: 100%;
  min-height: 480px;
  background-color: black;
}


.sidebar-top {
  width: 100%;
  height: calc(100% - 80px);
}

.sidebar-bottom {
  width: 100%;
  height: 80px;
}
.main-content {
  float: left;
  width: calc(100% - 230px);
  height: 100%;
  padding-top: calc(90px + 2em);
  padding-bottom: 2em;
  overflow: auto;
}
.upgrade {
  display: flex;  
  z-index: 999;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2em;
  position: fixed;
  top: 0;
  right: 0;
  width: calc( 100% - 230px);
  height: 90px;
  background-color: rgba(0, 0, 0, 0.4);
}

.upgrade-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0.5em 3em;
}

.upgrade-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* sidebar */
ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}

#logo {
    width: 100%;
}

.container-logo {
    width: 70%;
    padding-top: 1em;
    padding-left: 1em;
}

.logo-small {
  display: none;
}

ul {
  line-height: 30px;
}
.home {
  margin-top: 1em;
  margin-left: 0.5em;
}

.home li {
  padding-bottom: 1em;
}

.sidebar-hide {
  display: none;
}

.sidebar-top ul li a svg{
    width: 12%;
    vertical-align: top;
  }

.sidebar-top ul li:hover a {
  color: white;
}


.sidebar-top ul li:hover svg {
  filter: invert(1) brightness(100);
}


.playlist {
  width: 100%;
  margin-top: 1em;
  margin-left: 0.5em; 
}


.playlist h3 {
  color: white;
}

.playlist a {
  width: 100%;
}

.create:hover a {
  color: white;
}

.height-playlist {
  max-height: 35vh;
}

.download-app {
  margin-top: 1em;
  margin-left: 0.5em;
}

.sidebar-bottom .install:hover a {
  color: white;
}

hr {
    margin: 0.5em 0;
    width: 80%;
    color:rgba(255, 255, 255, 0.4);
}

.circle {
   width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color:#a3a3a3 ;
}

.user h3 {
  color: white;
  margin-left: 0.8em;
}

.navbar-main-menu {
  justify-content: center;
}

.navbar-main-menu li {
  padding: 0 1em;
}

.navbar-main-menu li:hover a {
  color: white;
  cursor: pointer;
}

/* album */
.container-album {
  width: 100%;
  padding: 1em;
}

.recently-played ul li {
  width: calc(100% / 6);
}

.container-album h2,
.container-album h3 {
  color: white;
  line-height: 1em;
}

.container-song {
  width: 70%;
  align-items: center;

}

.thumb {
  position: relative;
}

.hover-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4em;
  cursor: pointer;
  display: none;
}



.container-song img {
  width: 100%;
}

.row .song:hover {
  cursor: pointer;
}

.row .song:hover div i {
  display: block;
}

.row .song:hover div img {
  opacity: 0.4;
}


.for-you,
 .popular{
  width: 30%;
}

#einaudi {
  width: 98%;
}

.popular ul li .container-song img{
  border-radius: 50%;
}

/* footer */
footer {
  width: 100%;
  height: 90px;
  background-color: #282828;
}

.footer-cn {
  width: calc((100% - 460px) - 2em);
  height: 100%;
}

.footer-sx,
.footer-dx {
  width: 230px;
  height: 100%;
}

.footer-dx {
  align-items: center;
  margin-right: 2em;
}

.footer-sx {
  align-items: center;
}

.track {
  width: 50px;
  height: 50px;
  margin: 1em;
}

.favs {
  justify-content: flex-end;
  width: 30%;
}

.footer-sx .favs .far:hover {
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}

footer img {
  width: 100%;
}

footer a:hover {
  text-decoration: underline;
  color: white;
}

footer h4 a {
  color: white;
}

footer .far {
  margin: 0.5em;
}

.player {
  justify-content: center;
}

.player .fas {
  color: rgb(156, 156, 156);
  margin: 0.8em;
  font-size: 1.3em;
}

.footer-cn .player i:hover {
  color: white;
  cursor: pointer;
}

.footer-cn .player .fa-play-circle {
  font-size: 2.5em;
  margin: 0.2em 0;
}

.footer-cn .player .fa-play-circle:hover {
  transform: scale(1.2);
}

.timer {
  justify-content: center;
  font-size: 0.7em;
  align-items: center;
  color: white;
  font-weight: bold;
}

.bar-line {
  height: 4px;
  width: 80%;
  background-color: rgb(90,90,90);
  margin: 0 2em;
  border-radius: 10px;
  align-items: center;
}

.bar-line-light {
  height: 4px;
  width: 20%;
  background-color: white;
  border-radius: 10px;
}

.footer-cn .timer .bar-line:hover .bar-line-light {
  height: 5px;
  background-color:yellowgreen;
  cursor: pointer;
}

.footer-cn .timer .bar-line:hover .pointer {
  width: 8px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.volume {
  align-items: center;
  margin-left: 3.5em;
}

.footer-dx .volume i {
  margin: 0 0.7em;
}

.bar-volume {
  height: 5px;
  width: 5vw;
  background-color: grey;
  border-radius: 10px;
}

.bar-volume-light {
  height: 5px;
  width: 60%;
  background-color: white;
  border-radius: 10px;
}

.volume .bar-volume:hover .bar-volume-light {
  background-color: yellowgreen;
  height: 5px;
  cursor: pointer;
}

.volume .bar-volume:hover .pointer {
  width: 8px;
  height: 7px;
  border-radius: 15px;
  background-color: white;
}

.footer-dx .volume i:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

.font-size-3{
  font-size: 3em;
}

.font-size-2 {
  font-size: 2em;
}
.font-size-08 {
  font-size: 0.8em;
}

.font-size-06 {
  font-size: 0.6em;
}


.pd-btm-2 {
  padding-bottom: 2em;
}

.pd-btm-1 {
  padding-bottom: 1em;
}

.pd-top-1 {
  padding-top: 1em;
}

.pd-top-2 {
  padding-top: 2em;
}

.pd-top-3 {
  padding-top: 3em;
}

.mrg-l-05 {
  margin-left: 0.5em;
}

.mrg-btm-05 {
  margin-bottom: 0.5em;
}

.mrg-top-1 {
  margin-top: 1em;
}


/* breakpoint mediaquery 600px 700px e 1100px */

@media screen and (max-width: 1100px) {

  .main-content .recently-played ul li,
  .main-content .for-you ul li,
  .main-content .popular ul li {
    width: calc(100% / 4);

  }

  .navbar-main-content ul,
  .main-content .recently-played ul,
  .main-content .for-you ul,
  .main-content .popular ul {
    flex-wrap: wrap;
  }

  .favs {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .main-content .recently-played ul li,
  .main-content .for-you ul li,
  .main-content .popular ul li {
    min-width: 25vw;
  }
}

@media screen and (max-width: 600px) {
  .upgrade {
    width: calc(100vw - 50px);
    margin-left: 50px;
  }

  .sidebar {
    width: 50px;
  }

  .container-logo {
    display: none;
  }

  .logo-small {
    display: block;
    width: 75%;
    margin-left: 0.4em;
    margin-top: 00.4em;
    z-index: 999;  
  }

  .main-content {
    width: calc(100vw - 50px);
  }

  .main-content .recently-played ul li,
  .main-content .for-you ul li,
  .main-content .popular ul li {
    min-width: 40vw;
    width: calc(100% / 2);
  }

  .home,
  .playlist,
  .install-app,
  .user h3 {
    display: none;
  }

  .sidebar-hide {
    display: block;
  }

  .sidebar-hide ul li a img {
    width: 70%;
    filter: invert(0.5);
    margin: 0.7em 0.5em 0.5em 0.5em;
  }

  .sidebar-hide ul li:hover a img {
    filter: invert(0);
  }

  /* .footer-cn {
    max-width: 50%;
  } */

  .install i {
    margin-left: 0.8em;
  }

  .user img {
    margin-left: 0.3em;
  }

}